<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="testAiApp">
<head>
  <meta charset="utf-8">
  <title>Test AI Homework - Kristyn Bryan</title>
  <!-- Angular scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <!-- Style Links -->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="node_modules/material-design-lite/material.min.css">
  <script src="node_modules/material-design-lite/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="lib/canvasjs.min.js"></script>
  <script src="app.js"></script>

</head>
<body ng-controller="DataCtrl">
<section class="app-header">
  <div>
    <h1 class="app-name">{{data.app_name}}</h1>
  </div>
  <div>
    <p class="test-id">Test Run: {{data.test_run_id}}</p>
    <p class="test-timestamp">{{data.time_stamp}}</p>
  </div>
</section>
<section class="main-container" ng-repeat="case in data.test_cases">
<div>
  <p class="test-name">{{case.test_name}}</p>
</div>
<section ng-repeat="steps in case.test_steps" class="step-section">
  <hr />
<div class="step-name">{{steps.step_name}}</div>
<div class="test-data-container">
  <div class="test-img-container">
    <img src="{{steps.screenshot}}" class="test-img" />
  </div>
  <div class="data-tile-barchart">
    <div class="data-sub-section">
      <p class="data-title">TIME</p>
      <div class="bar-chart-container">
        <div id="timeChartContainer"></div>
      </div>
    </div>
    <div class="data-sub-section">
      <p class="data-title">MEMORY</p>
      <div class="bar-chart-container">
        <div id="memoryChartContainer"></div>
      </div>
    </div>
    <div class="data-sub-section">
      <p class="data-title">CPU</p>
      <div class="bar-chart-container">
        <div id="cpuChartContainer"></div>
      </div>
    </div>
  </div>
  <div class="line-graph-container">
    <img src="https://i.imgur.com/cLQFFFp.png" class="line-graph" />
  </div>
</div>
</section>
</section>

</body>
</html>
