.app-header {
  max-width: 80%;
  margin: 40px auto;
}

.bar-chart-container {
  height: 100px;
}

body {
  background-color: #EAE6E5;
  font-family: Helvetica, Arial, Lucida, sans-serif;
  margin: 0;
  padding: 5%;
}

.data-sub-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid black; */
}

.data-title {
  display: block;
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 75px;
}

.data-tile-barchart {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
}

.line-graph {
  height: 300px;
  width: auto;
}

.line-graph-container {
  display: flex;
  margin-left: 10px;
}

.main-container {
  background-color: white;
  justify-content: flex-start;
  max-width: 80%;
  margin: 40px auto;
  padding: 20px;
}

.test-name {
  position: relative;
  display: inline;
}

.test-data-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}

.test-img {
  height: 350px;
  width: auto;
}

.test-name {
  line-height: normal;
  margin: 0;
  padding-left: 40px;
}

@media (max-width: 800px) {
  .line-graph-container {
    display: none;
  }
}
