.app-header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
  margin-top: 20px;
}

.app-name {
  font-size: 2.5em;
  margin: 0;
}

.bar-chart-container {
  height: 100px;
}

body {
  background-color: #EAE6E5;
  font-family: Helvetica, Arial, Lucida, sans-serif;
  margin: 0;
  /* padding: 5%; */
}

.data-sub-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid black; */
}

.data-title {
  display: block;
  font-size: 1.25em;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 75px;
}

.data-tile-barchart {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
}

html {
  margin: 0;
  padding: 0;
}

.line-graph {
  height: 300px;
  width: auto;
}

.line-graph-container {
  display: flex;
  margin-left: 10px;
}

.main-container {
  background-color: white;
  justify-content: flex-start;
  max-width: 80%;
  margin-bottom: 20px;
  margin-top:0;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.step-name {
  color: grey;
  padding-bottom: 10px;
}

.step-section {
  margin-bottom: 50px;
}

.test-data-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}

.test-id {
  margin: 0;
}

.test-img {
  height: 350px;
  width: auto;
}

.test-name {
  color: #D4A446;
  font-size: 200%;
  line-height: normal;
  margin: 0;
}

.test-timestamp {
  margin: 0;
}

@media (max-width: 800px) {
  .line-graph-container {
    display: none;
  }
}
